div{
    display: block;
}

.transition{
    width: 100%;
    height: 3.307vw;
    background: linear-gradient(90deg, #82E70C 47.62%, #3CC21E 98.51%);
}

.all_str_1, .all_str_2, .all_str_3{
    max-width: 100%;
    min-width: 710px;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.all_str_1{
    background-image: url(image/bg_1.jpg);
}

.header{
    padding-top: 3%;    
}

.header_content {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1.001vw;
    position: relative;
    height: 4.762vw;
    background: white;
    
    box-shadow: 8.66007px 3.60836px 72.1672px rgba(0, 0, 0, 0.18);
    border-radius: 15px;
}

.text_logo, .FAQ_header, .main_header{
    position: absolute;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.text_logo{
    margin-left: 7.8704vw;
    margin-top: 1.65344vw;
    margin-bottom: 1.65344vw;
    
    font-weight: 500;
    font-size: 1.32275vw;
    line-height: 1.98413vw;

    color: #1B1C37;
}

.FAQ_header{
    margin-left: 31.4815vw;
    margin-top: 1.521165vw;
    margin-bottom: 1.521165vw;
    
    font-weight: 600;
    font-size: 1.14551vw;
    line-height: 1.719575vw;

    color: #000000;
}

.main_header{
    margin-left: 40.07935vw;
    margin-top: 1.521165vw;
    margin-bottom: 1.521165vw;
    
    font-weight: 600;
    font-size: 1.14551vw;
    line-height: 1.719575vw;
    text-align: center;
    width: 6.614vw;
    
    color: #35BE1F;
}

.main_header_top, .main_header_bottom{
    border: 0.198413vw solid #35BE1F;
    
    display: block;
    width: 6.2615vw;
    margin-left: 40.07935vw;
}

.main_header_bottom{
    margin-top: 4.3655vw;
}

.img_logo_1, .img_logo_2, .img_logo_3{
    background: linear-gradient(90deg, #35BE1F 0%, #6ED90B 100%);
    
    border-radius: 50%;
        
    position: absolute;
}

.img_logo_1{
    left: 5.51%;
    right: 93.5%;
    top: 32.92%;
    bottom: 49.15%;
}

.img_logo_2{
    left: 4.85%;
    right: 94.54%;
    top: 51.72%;
    bottom: 37.18%;
}

.img_logo_3{
    left: 5.84%;
    right: 93.65%;
    top: 57.7%;
    bottom: 32.93%;
}

.content{
    margin-left: 6%;
}

.content_header{
    margin-top: 6.61378vw;
    margin-right: 57%;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 6.61377vw;
    line-height: 110%;

    display: flex;
    align-items: center;

    background: linear-gradient(99.94deg, #35BE1F 1.77%, #94F107 88.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content_text_1, .content_text_2{
    margin-right: 57%;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.32275vw;
    line-height: 1.9vw;
    text-align: justify;

    color: #5F6073;
}

.content_text_1{
    margin-top: 3.968256vw;
}

.content_text_2{
    margin-top: 1.98413vw;
}

.content_button{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    margin-top: 3.968254vw;
    margin-right: 64.2857vw;
    margin-bottom: 8vw;

    width: 29.101vw;
    
    background: #1B1C37;
    border-radius: 0.79365vw;
}

.content_button_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5873vw;
    line-height: 2.38095vw;
    color: #FFFFFF;
    
    padding-top: 1.0582vw;
    padding-bottom: 1.0582vw;

}

.right-arrow {
    position: relative;
    width: 1.4332vw;
    height: 1.4332vw;
    background-color: #1B1C37;
    border-radius: 50%;
    cursor: pointer;
    border: 0.165344vw solid #FFFFFF;
    margin-left: 0.804891vw;
}

.right-arrow::before {
    position: absolute;
    content: '';
    left: 32%;
    top: 32%;
    Width: 0.251984vw;
    Height: 0.251984vw;
    border-top: 0.165344vw solid #FFFFFF
 !important;
    border-right: 0.165344vw solid #FFFFFF !important;
    transform: rotate(45deg);
}

.all_str_2{
    background-image: url(image/bg_2.jpg);
}

.header_2, .block_1_header, .block_1_text, .block_2_header, .block_2_text, .block_3_header, .block_3_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.block_1_text, .block_2_text, .block_3_text{    
    font-weight: 400;
    font-size: 1.9845vw;
    line-height: 2.9765vw;
    text-align: justify;

    color: #5F6073;
}

.block_1_text, .block_3_text{
    padding-right: 6.61376vw;
    padding-left: 52vw;
}

.block_1_header, .block_2_header, .block_3_header{
    font-weight: 600;
    font-size: 3.307vw;
    line-height: 4.961vw;
    
    background-clip: text;
    text-fill-color: transparent;
}

.block_1_header, .block_3_header{
    text-align: right;
}

.header_2{
    padding-top: 5.953vw;
    padding-left: 25.794vw;
    
    font-weight: 600;
    font-size: 3.9686vw;
    line-height: 7.937vw;

    background: linear-gradient(90deg, #82E80C 0%, #3EC31E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.block_1_header{
    padding-right: 6.614vw;
    padding-top: 3vw;

    background: linear-gradient(89.98deg, #4FCD1A 21.95%, #3DC31E 102.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_1_text{
    padding-top: 2.77778vw;
    padding-bottom: 6.019vw;
}

.block_2_header{
    padding-top: 7.937vw;
    padding-left: 6.614vw;
    padding-right: 54.2328vw;
    
    text-align: justify;

    background: linear-gradient(90deg, #35BE1F -3.54%, #6DD80D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_2_text{
    padding-left: 6.614vw;
    padding-top: 2.91005vw;
    padding-right: 54.2328vw;
    padding-bottom: 5.35714vw;
}

.block_3_header{
    padding-right: 6.614vw;
    padding-top: 3.25vw;
    
    font-weight: 600;
    font-size: 3.306875vw;
    line-height: 4.96032vw;
    text-align: right;

    background: linear-gradient(90.18deg, #35BE1F 0.12%, #6CD80E 102.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_3_text{
    padding-top: 2.6455vw;
    padding-bottom: 14.2196vw;
}

.all_str_3{
    background-image: url(image/bg_3.jpg);
}

.header_3{
    padding-left: 17.5926vw;
    padding-top: 5.95238vw;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.968255vw;

    display: flex;
    align-items: center;
    text-align: center;

    background: linear-gradient(90deg, #82E80D 0%, #3DC21F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.block_3_text_1, .block_3_text_2, .block_3_text_3, .block_3_text_4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2.51323vw;
    text-align: justify;
    
    color: #5F6073;
}

.block_3_text_1_3, .block_3_text_2_4{
    display: flex;
    flex-direction: row;
}

.block_3_text_1, .block_3_text_2{
    padding-left: 10.9127vw;
}

.block_3_text_1_3{
    padding-top: 13.8889vw;
}

.block_3_text_2_4{
    padding-top: 9.25926vw;
    padding-bottom: 17.19576vw;
}

.block_3_text_3{
    padding-right: 10.9127vw;
    padding-left: 3vw;
}

.block_3_text_1{
    padding-right: 34.6795vw;
}

.block_3_text_2{
    padding-right: 35vw;
}

.block_3_text_4{
    padding-right: 13.5vw;
}

.all_str_5{
    margin-left: 100px;
}

.header_5{
    margin-top: 90px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;

    display: flex;
    align-items: center;
    text-align: right;

    color: #35BE1F;
}

.text_5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;
    margin-right: 185px;
    
    color: #5F6073;
}

.text_5_1{
    margin-top: 60px;
}

.text_5_2{
    margin-top: 30px;
}

.content_5{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.tab_name_email, .tab_appeal_phone{
    display: flex;
    flex-direction: row;
}

.tab_name_header, .tab_appeal_header, .tab_email_header, .tab_phone_header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.tab_name_header, .tab_email_header{
    margin-top: 60px;
}

.tab_email{
    margin-left: 200px;
}

.tab_name_form, .tab_email_form, .tab_phone_form{    
    background: #EDEEFF;
    border-radius: 4px;
    
    margin-top: 15px;
    height: 40px;
}

.tab_name_form{
    width: 639px;
}

.tab_email_form, .tab_phone_form{
    width: 499px;
}

.tab_name_form::placeholder, .tab_email_form::placeholder,
.tab_phone_form::placeholder,
.tab_appeal_form::placeholder{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #5F6073;    
    padding-top: 11px;
    padding-left: 30px;
}

.tab_appeal_form{
    margin-top: 15px;
    width: 499px;
    height: 228px;

    background: #EDEEFF;
    border-radius: 4px;   
}

.tab_appeal_header, .tab_phone_header{
    margin-top: 40px;
}

.tab_phone_button{
    margin-left: 340px;
    margin-bottom: 120px;
}

.tab_button{
    gap: 5.22px;
    
    width: 499px;
    height: 35.7px;
    margin-top: 149px;

    background: #1B1C37;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12.5217px;
    line-height: 19px;
    color: #EDEEFF;
}

.img_5{
    margin-right: 100px;
}

.footer{
    width: 100%;
    height: 7.2755vw;
    
    background: #1B1C37;
}

.footer_text_1, .footer_text_2{
    margin-left: 6.61376vw;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.992065vw;
    
    color: #FFFFFF;
}

.footer_text_1{
    padding-top: 2.1164vw;
}

.footer_text_2{
    padding-bottom: 2.1164vw;
}

.circles{
    display: flex;
    flex-direction: row;
}

.circle_1_2{
    display: flex;
    flex-direction: row;
}

.circle_1{
    width: 110px;
    height: 110px;
    margin-left: -21px;
    margin-top: -34px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_2{
    width: 55px;
    height: 55px;
    margin-left: 29px;
    margin-top: 36px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_3{
    width: 27.5px;
    height: 27.5px;
    margin-left: 104px;
    margin-top: 36px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_4{
    width: 13.75px;
    height: 13.75px;
    margin-left: 27px;
    margin-top: 14.4px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_5_6_7{
    display: flex;
    flex-direction: row;
}

.circle_5{
    width: 27.5px;
    height: 27.5px;
    margin-left: 42px;
    margin-top: 40px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_6{
    width: 55px;
    height: 55px;
    margin-left: 32.5px;
    margin-top: -19px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_7{
    width: 13.75px;
    height: 13.75px;
    margin-left: 76px;
    margin-top: 22px;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.header_4{
    width: 70.7675vw;
    
    margin-left: 3.1746vw;
    margin-top: 1.488095vw;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.968255vw;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #292B5A;
}

.content_4_one{
    display: flex;
    flex-direction: row;
}

.content_4_one_1, .content_4_one_2{
    height: 40.4105vw;
    margin-top: 3.968255vw;
    margin-bottom: 5.95238vw;
    
    background: #1B1C37;
    border-radius: 3.30688vw;
}

.content_4_one_1{
    width: 60.45vw;
    margin-left: 6.61376vw;
}

.content_4_one_2{
    width: 24.339vw;
    margin-left: 1.98413vw;
}

.content_4_one_2_header{
    width: 20.04vw;
    margin-top: 1.98413vw;
    margin-left: 2.314815vw;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.32275vw;

    text-align: center;

    color: #FFFFFF;
}

.content_4_one_2_text{
    margin-left: 30px;
    margin-top: 60px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;

    text-align: left;

    color: #FFFFFF;
}

.content_4_one_1_img{    
    margin-top: 278px;
    margin-left: 427px;
}

.content_4_one_1_text_1, .content_4_one_1_text_2{    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.32275vw;

    color: #FFFFFF;
}

.content_4_one_1_text_1{
    margin-left: 25.5vw;
    margin-top: 1.98413vw;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
}

.content_4_one_1_text_2{
    margin-left: 22.4868vw;
    margin-bottom: -9.1931vw;
}