@media screen and (max-width:710px)
{
    .mobile_str_6
    {
        margin: 0 7.692307vw;
    }

    .mobile_6_header, .mobile_6_content_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        line-height: 5.1282vw;

        text-align: justify;

        color: #5F6073;
    }

    .mobile_6_header
    {
        font-weight: 700;
        font-size: 2.974359vw;
    }

    .mobile_6_content_text
    {
        font-weight: 400;
        font-size: 4.102564vw;

        margin-top: 5.1282vw;
        margin-right: 33.33vw;
        margin-bottom: 2.564102vw;
    }

    .mobile_tab_header
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 4.615384vw;
        line-height: 5.897435vw;
        text-align: right;

        color: #4DCB1C; 

        margin-top: 5.1282vw;
        margin-bottom: 2.564102vw;
    }

    .mobile_tab_name_form, .mobile_tab_appeal_form, .mobile_tab_email_form, .mobile_tab_phone_form
    {
        width: 100%;

        background: #EDEEFF;
        border-radius: 2.564102vw;
    }

    .mobile_tab_name_form, .mobile_tab_appeal_form, .mobile_tab_email_form, .mobile_tab_phone_form
    {
        height: 10.25641vw;
        width: 100%;
        border: none;
    }

    .mobile_tab_appeal_form_1
    {
        height: 30.769231vw;
        width: 100%;

        background: #EDEEFF;
        border: none;
    }

    .mobile_tab_appeal_form
    {
        height: 41.025641vw;
    }

    .mobile_tab_name_form::placeholder, .mobile_tab_appeal_form_1::placeholder, .mobile_tab_email_form::placeholder, .mobile_tab_phone_form::placeholder
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.076923vw;
        line-height: 4.102564vw;

        color: #5F6073;

        padding: 5.1282vw 3.33vw;
    }

    .mobile_tab_button
    {   
        background: #1B1C37;
        border-radius: 2.564102vw;

        width: 103%;

        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 4.615384vw;
        line-height: 5.897435vw;
        text-align: center;

        color: #FFFFFF;

        padding: 2.179487vw 21.794872vw;

        margin-top: 5.1282vw;
        margin-bottom: 15.38462vw;
    }

    .mobile_link_1, .mobile_link_2, .mobile_link_3, .mobile_link_4, .mobile_link_5, .mobile_link_6, .mobile_link_7
    {
        margin: 2.051283vw 0;

        height: 3.589743vw;
        width: 3.589743vw;
    }

    .mobile_link_1
    {
        margin-left: 5.1282vw;
        margin-right: 2.564102vw;
    }

    .mobile_link_3
    {
        margin: 2.051283vw 3.33vw;
    }

    .mobile_link_5
    {
        margin: 2.051283vw 2.564102vw;
    }

    .mobile_link_7
    {
        margin-left: 2.974359vw;
    }
}