@import url('styles.css');

.circles
{
    display: flex;
    flex-direction: row;
}

.circle_1_2
{
    display: flex;
    flex-direction: row;
}

.circle_1
{
    width: 7.2751vw;
    height: 7.2751vw;
    margin-left: -1.388886vw;
    margin-top: -2.24868vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_2
{
    width: 3.637565vw;
    height: 3.637565vw;
    margin-left: 1.91799vw;
    margin-top: 2.38095vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_3
{
    width: 1.81878vw;
    height: 1.81878vw;
    margin-left: 6.8783vw;
    margin-top: 2.38095vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_4
{
    width: 0.90939vw;
    height: 0.90939vw;
    margin-left: 1.785715vw;
    margin-top: 0.95238vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_5_6_7
{
    display: flex;
    flex-direction: row;
}

.circle_5
{
    width: 1.81878vw;
    height: 1.81878vw;
    margin-left: 2.77778vw;
    margin-top: 2.6455vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_6
{
    width: 3.637565vw;
    height: 3.637565vw;
    margin-left: 2.14947vw;
    margin-top: -1.256615vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.circle_7
{
    width: 0.90939vw;
    height: 0.90939vw;
    margin-left: 5.026455vw;
    margin-top: 1.455025vw;
    
    background: #82E80D;
    
    border-radius: 50%;
}

.header_4
{
    width: 70.7675vw;
    
    margin-left: 6.1746vw;
    margin-top: 1.488095vw;

    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.968255vw;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #292B5A;
}

.content_4_one
{
    display: flex;
    flex-direction: row;
}

.img_pc_4_2
{
    width: 64.3915vw;
}

.content_4_one_1, .content_4_one_2
{
    height: 40.4105vw;
    margin-top: 3.968255vw;
    margin-bottom: 5.95238vw;
    
    background: #1B1C37;
    border-radius: 3.30688vw;
}

.content_4_one_1
{
    width: 45.89947vw;
    margin-left: 17.26190476vw;
}

.content_4_one_2
{
    width: 18.4523809vw;
    margin-left: 1.98413vw;
}

.content_4_one_2_header
{
    width: 20.04vw;
    margin-top: 3.1084656vw;
    margin-left: 1.71958vw;
    padding-right: 4.36508vw;

    font-family: PoppinsBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.32275vw;
    line-height: 2.645503vw;

    color: #FFFFFF;
}

.content_4_one_2_text
{
    margin-top: 3.968255vw;
    
    font-family: PoppinsBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.058201vw;
    line-height: 2.645503vw;

    text-align: left;

    color: #FFFFFF;
}

.content_4_one_1_img
{    
    margin-top: 14.38625vw;
    margin-left: 20.7vw;
}

.content_4_one_1_text_1, .content_4_one_1_text_2
{    
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.32275vw;
    line-height: 2.645503vw;
    text-align: center;

    color: #FFFFFF;
}

.content_4_one_1_text_1
{
    margin-top: 1.98413vw;

    text-align: center;
    text-decoration-line: underline;
}

.content_4_one_1_text_2
{
    margin-left: 17.4868vw;
    margin-right: 17.4868vw;
    margin-bottom: -9.1931vw;
}

div#content_4_two_three
{
    position: relative;
    
    background: #1B1C37;
    border-radius: 1.98413vw;
}.content_4_two
{
    position: absolute;
    top: 0.00661376vw;
}


.content_4_two_text_1, .content_4_two_text_2, .content_4_two_text_3
{
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 2.645503vw;

    margin-left: 25.26455vw;
    margin-right: 26.455026vw;
}

.content_4_two_text_1
{
    font-size: 1.32275vw;

    color: #50CD19;
    
    margin-top: 11.243386vw;
}

.content_4_two_text_2, .content_4_two_text_3
{
    color: #FFFFFF;
}

.content_4_two_text_2
{
    font-size: 0.992065vw;
}

.content_4_two_text_3
{
    font-size: 1.0582vw;
    
    margin-top: 7vw;
}

.content_4_two_three
{
    margin-top: 3.968255vw;
    margin-left: 17.26190476vw;
    margin-right: 17.1296vw;
    margin-bottom: 5.95238vw;    
}

div#content_4_two_three
{
    position: relative;
    
    background: #1B1C37;
    border-radius: 1.98413vw;
}.content_4_three
{
    position: absolute;
    top: 0.00661376vw;
}

.content_4_three_text
{
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.98413vw;

    color: #FFFFFF;  
    
    text-align: center;
    margin: 10.58201vw 21.3624339vw 0 21.3624339vw;
}

.content_4_three_button
{
    background: #50CD19;
    border-radius: 1.32275vw;
    
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.190475vw;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    
    margin-left: 23.809524vw;
    margin-top: 0.3306878vw;
    
    width: 17.659vw;
    height: 3.9685vw;
}