@import url('styles.css');

.all_str_5
{
    margin-left: 6.61376vw;
}

.header_5
{
    margin-top: 5.95238vw;

    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.968255vw;

    display: flex;
    align-items: center;
    text-align: right;

    color: #35BE1F;
}

.text_5
{
    font-family: PoppinsRegular, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.98413vw; 
    text-align: justify;
    margin-right: 12.23545vw;
    
    color: #5F6073;
}

.text_5_1
{
    margin-top: 3.968255vw;
}

.text_5_2
{
    margin-top: 1.98413vw;
}

.content_5
{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.img_5
{
    width: 31.61375vw;
}

.tab_form
{
    background: #EDEEFF;
    border-radius: 0.26455vw;
}

.tab_button
{ 
    background: #1B1C37;
    
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #EDEEFF;
}

.img_5
{
    margin-right: 6.61376vw;
}