@import url('styles.css');

.block_2
{
    margin-top: -85px;
}

.header_2, .block_1_header, .block_2_header, .block_3_header
{
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-style: normal;
}

.block_1_text, .block_2_text, .block_3_text
{    
    font-family: PoppinsRegular, 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9845vw;
    line-height: 2.9765vw;
    text-align: justify;

    color: #5F6073;
}

.block_1_text, .block_3_text
{
    padding-right: 6.61376vw;
    padding-left: 52vw;
}

.block_1_header, .block_2_header, .block_3_header
{
    font-weight: 600;
    font-size: 3.307vw;
    line-height: 4.961vw;
    
    background-clip: text;
    text-fill-color: transparent;

    margin-top: -400px;
}

.block_1_header, .block_3_header
{
    text-align: right;
}

.header_2
{
    margin-top: -25px;
    padding-left: 25.794vw;
    
    font-weight: 600;
    font-size: 3.9686vw;
    line-height: 7.937vw;

    background: linear-gradient(90deg, #82E80C 0%, #3EC31E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.block_1_header
{
    padding-right: 6.614vw;
    background: linear-gradient(89.98deg, #4FCD1A 21.95%, #3DC31E 102.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_1_text
{
    padding-top: 2.77778vw;
    padding-bottom: 6.019vw;
}

.block_2_header
{
    padding-left: 6.614vw;
    padding-right: 54.2328vw;
    
    text-align: justify;

    background: linear-gradient(90deg, #35BE1F -3.54%, #6DD80D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_2_text
{
    padding-left: 6.614vw;
    padding-top: 2.91005vw;
    padding-right: 54.2328vw;
    padding-bottom: 5.35714vw;
}

.block_3_header
{
    padding-right: 6.614vw;
    
    font-family: PoppinsSemiBold, 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.306875vw;
    line-height: 4.96032vw;
    text-align: right;

    background: linear-gradient(90.18deg, #35BE1F 0.12%, #6CD80E 102.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_3_text
{
    padding-top: 2.6455vw;
}

.block_1_img
{
    margin-top: -370px;
}

.block_1_img, .block_2_img, .block_3_img
{
    width: 630px;
}

.block_1_img, .block_3_img
{
    margin-left: 100px;
}

.block_2_img
{
    margin-left: 801px;
}

.block_3_circles_2_1, .block_3_circles_2_2, .block_3_circles_2_3, .block_3_circles_2_4, .block_3_circles_3_1, .block_3_circles_3_2, .block_3_circles_3_3, .block_3_circles_3_4, .block_3_circles_3_5, .block_3_circles_3_6, .block_3_circles_3_7, .block_3_circles_3_8, .circle_3_0, .block_2_circle_1, .block_2_circle_2, .block_2_circle_3
{
    border-radius: 50%;
}

.circle_3_0
{
    background: #82E80C;
}

.block_3_circles_2_1, .block_3_circles_2_2, .block_3_circles_2_4, .block_3_circles_3_1, .block_3_circles_3_2, .block_3_circles_3_3, .block_3_circles_3_4, .block_3_circles_3_5, .block_3_circles_3_6, .block_3_circles_3_7, .block_3_circles_3_8
{
    background: #50CD19;
}

.block_3_circles_2_3
{
    background: #62D714;
}

.block_3_circles_2_1, .block_3_circles_3_5, .block_3_circles_3_6, .block_3_circles_3_8, .circle_3_0
{
    height: 13.75px;
    width: 13.75px;
}

.block_3_circles_2_4, .block_3_circles_3_2, .block_3_circles_3_4, .block_3_circles_3_7
{
    height: 27.5px;
    width: 27.5px;
}

.block_3_circles_2_2, .block_3_circles_3_1, .block_3_circles_3_3
{
    height: 55px;
    width: 55px;
}

.block_3_circles_2_3
{
    height: 110px;
    width: 110px;
}

.circle_3_0
{
    margin: -86px 0 0 279px;
}

.block_3_circles_2_1
{
    margin: 21px 0 0 1137px;
}

.block_3_circles_2_2
{
    margin: 3px 0 0 1210px;
}

.block_3_circles_2_3
{
    margin: -110px 0 0 1335px;
}

.block_3_circles_2_4
{
    margin: 47px 0 0 1431px;
}

.block_3_circles_3_1
{
    margin: 0 0 0 131px;
}

.block_3_circles_3_2
{
    margin: 0 0 0 275px;
}

.block_3_circles_3_3
{
    margin: -89px 0 0 403px;
}

.block_3_circles_3_4
{
    margin: -87px 0 0 544px;
}

.block_3_circles_3_5
{
    margin: 59.5px 0 0 621px;
}

.block_3_circles_3_6
{
    margin: 117.25px 0 0 711px;
}

.block_3_circles_3_7
{
    margin: -131px 0 0 756px;
}

.block_3_circles_3_8
{
    margin: -89px 0 0 801px;
}

.block_3
{
    margin-top: 60px;
}

.curl
{
    width: 102px;
    height: 154px;
    margin: -20px 0 52px 1212px;

    transform: rotate(11.69deg);
}

.block_2_circle_1, .block_2_circle_2, .block_2_circle_3
{
    background: #b3b3b3;
}
.block_2_circle_1, .block_2_circle_3
{
    width: 23px;
    height: 21px;
}

.block_2_circle_1
{
    margin: 45px 0 0 318px;
}

.block_2_circle_3
{
    margin: 277px 0 0 200px;
}

.block_2_circle_2
{
    width: 46px;
    height: 42px;

    margin: 11px 0 0 271px;
}