.all_str_3
{
    background-image: url(img/bg_3.png);
    background-position: 6vw 17.857143vw;
    background-size: auto 59.1931217vw;
}

.header_3
{
    padding-left: 17.5926vw;
    margin-top: -5.2248677vw;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.968255vw;

    display: flex;
    align-items: center;
    text-align: center;

    color: #80dc17;
}

.block_3_text_1, .block_3_text_2, .block_3_text_3, .block_3_text_4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2.51323vw;
    text-align: justify;
    
    color: #5F6073;
}

.block_3_text_1_3, .block_3_text_2_4
{
    display: flex;
    flex-direction: row;
}

.block_3_text_1, .block_3_text_2
{
    padding-left: 10.9127vw;
}

.block_3_text_1_3
{
    padding-top: 13.8889vw;
}

.block_3_text_2_4
{
    padding-top: 9.25926vw;
    padding-bottom: 17.19576vw;
}

.block_3_text_3
{
    padding-right: 10.9127vw;
    padding-left: 3vw;
}

.block_3_text_1
{
    padding-right: 34.6795vw;
}

.block_3_text_2
{
    padding-right: 35vw;
}

.block_3_text_4
{
    padding-right: 13.5vw;
}

.circle_3_1, .circle_3_2, .circle_3_3, .circle_3_5, .circle_3_6, .circle_3_7, .circle_3_8
{
    border-radius: 50%;
}

.circle_3_1, .circle_3_6, .circle_3_7
{
    background: #82E80D;
}

.circle_3_2, .circle_3_3, .circle_3_5, .circle_3_8
{
    background: #82E80C;
}

.circle_3_1
{
    width: 7.275132vw;
    height: 7.275132vw;
}

.circle_3_2, .circle_3_5
{
    width: 3.6375661vw;
    height: 3.6375661vw;
}

.circle_3_3, .circle_3_8
{
    width: 0.909391534vw;
    height: 0.909391534vw;
}

.circle_3_6, .circle_3_7
{
    width: 1.81878307vw;
    height: 1.81878307vw;
}

.circle_3_1
{
    margin-top: -2.248677vw;
    margin-left: -1.389vw;
}

.circle_3_2
{
    margin-top: -6.0185vw;
    margin-left: 18.1878307vw;
}

.circle_3_3
{
    margin-top: -0.926vw;
    margin-left: 26.852vw;
}

.circle_3_5
{
    margin-left: 7.804233vw;
}

.circle_3_6
{
    margin-top: -3.306878vw;
    margin-left: 14.2195767vw;
}

.circle_3_7
{
    margin-top: 3.968254vw;
    margin-left: 6.878307vw;
}

.circle_3_8
{
    margin-top: 0.9920635vw;
    margin-left: 1.7857143vw;
}