@media screen and (max-width:710px)
{
    .mobile_header_3_circle_1, .mobile_header_3_circle_2, .mobile_header_3_circle_3, .mobile_header_3_circle_4, .mobile_header_3_circle_5, .mobile_header_3_circle_6, .mobile_header_3_circle_7, .mobile_header_3_circle_8, .mobile_header_3_circle_9, .mobile_header_3_circle_10, .mobile_header_3_circle_11, .mobile_header_3_circle_12
    {
        transform: rotate(-180deg);
        border-radius: 50%;
    }
    
    .mobile_header_3_circle_1, .mobile_header_3_circle_2, .mobile_header_3_circle_3, .mobile_header_3_circle_6, .mobile_header_3_circle_9, .mobile_header_3_circle_11
    {
        background: #44C61E;
    }
    
    .mobile_header_3_circle_4, .mobile_header_3_circle_5, .mobile_header_3_circle_8, .mobile_header_3_circle_12
    {
        background: #FFFFFF;
    }
    
    .mobile_header_3_circle_7{
        background: #FF9900;
    }
    
    .mobile_header_3_circle_1, .mobile_header_3_circle_7, .mobile_header_3_circle_9
    {
        width: 3.525641vw;
        height: 3.525641vw;
    }
    
    .mobile_header_3_circle_2, .mobile_header_3_circle_4, .mobile_header_3_circle_6, .mobile_header_3_circle_10
    {
        width: 1.76923vw;
        height: 1.76923vw;
    }
    
    .mobile_header_3_circle_3
    {
        width: 7.051282vw;
        height: 7.051282vw;
    }
    
    .mobile_header_3_circle_5, .mobile_header_3_circle_8{
        width: 0.8846154vw;
        height: 0.8846154vw;
    }
    
    .mobile_header_3_circle_1
    {
        margin-left: 17.6461538vw;
    }
    
    .mobile_header_3_circle_2
    {
        margin-left: 16.3153846vw;
        margin-top: 6.102564vw;
    }
    
    .mobile_header_3_circle_3
    {
        margin-left: 7.692307vw;
        margin-top: 0.8871795vw;
    }
    
    .mobile_header_3_circle_4
    {
        margin-left: 9.4871795vw;
        margin-top: -3.076923vw;
    }
    
    .mobile_header_3_circle_5
    {
        margin-left: 12.3230769vw;
        margin-top: -4.0102564vw;
    }
    
    .mobile_header_3_circle_6
    {
        margin-left: 26.5717949vw;
        margin-top: -5.5923077vw;
    }
    
    .mobile_header_3_circle_7
    {
        margin-top: 4.4153846vw;
        margin-left: 21.2153846vw;
    }
    
    .mobile_header_3_circle_8
    {
        margin-left: 22.0641026vw;
        margin-top: -2.9358974vw;
    }
    
    .mobile_header_3_circle_9
    {
        margin-top: -17.358974vw;
        margin-left: 35.897436vw;
    }
    
    .mobile_header_3_circle_10
    {
        background: #4448D6;
        
        margin-top: 6.2179487vw;
        margin-left: 35.128205vw;
    }
    
    .mobile_header_3_circle_11
    {
        width: 3.589743vw;
        height: 3.589743vw;
        
        margin-left: 47.692308vw;
        margin-top: 0.794871vw;
    }
    
    .mobile_header_3_circle_12
    {
        width: 1.025641vw;
        height: 1.025641vw;
        
        margin-left: 48.974359vw;
        margin-top: -1.794872vw;
    }
    
    .mobile_header_3_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 6.153846vw;

        color: #48C81D;
        
        margin-left: 49.487179vw;
        margin-top: -15.38462vw;
        margin-right: 7.692307vw;
        
        text-align: right;
    }
    
    .mobile_content_3_1_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3.589743vw;
        text-align: justify;
        
        background: linear-gradient(91.69deg, #82E80D -2.59%, #35BE1F 144.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        margin-top: 9.230769vw;
        margin-left: 7.692307vw;
        margin-right: 25.641026vw;
    }
    
    .mobile_content_3_1_img_bg
    {
        background: linear-gradient(91.13deg, #82E80D -394.34%, #48C81D 136.79%);       
        
        border-radius: 50%;
        
        width: 6.410256vw;
        height: 6.410256vw;
        
        padding: 5.76923vw;
    
        margin-left: 74.358974vw;
        margin-top: -16.67vw;
    }
    
    .mobile_content_3_1_1_circle_1, .mobile_content_3_1_1_circle_2, .mobile_content_3_1_1_circle_3, .mobile_content_3_1_1_circle_4, .mobile_content_3_1_1_circle_5, .mobile_content_3_1_1_circle_6, .mobile_content_3_1_1_circle_7, .mobile_content_3_1_1_circle_8,
    .mobile_content_3_1_2_circle_1, .mobile_content_3_1_2_circle_2, .mobile_content_3_1_2_circle_3, .mobile_content_3_1_2_circle_4, .mobile_content_3_1_2_circle_5, .mobile_content_3_1_2_circle_6, .mobile_content_3_1_2_circle_7, .mobile_content_3_1_2_circle_8
    {
        border-radius: 50%;
        transform: rotate(-180deg);
    }
    
    .mobile_content_3_1_1_circle_8, .mobile_content_3_1_2_circle_2
    {
        width: 1.025641vw;
        height: 1.025641vw;
    }
    
    .mobile_content_3_1_1_circle_1, .mobile_content_3_1_1_circle_2, .mobile_content_3_1_1_circle_3, .mobile_content_3_1_1_circle_5, .mobile_content_3_1_1_circle_6, .mobile_content_3_1_2_circle_3, .mobile_content_3_1_2_circle_4, .mobile_content_3_1_2_circle_6, .mobile_content_3_1_2_circle_7, .mobile_content_3_1_2_circle_8
    {
        width: 1.76923vw;
        height: 1.76923vw;
    }
    
    .mobile_content_3_1_1_circle_4, .mobile_content_3_1_2_circle_5
    {
        width: 3.525641vw;
        height: 3.525641vw;
    }
    
    .mobile_content_3_1_1_circle_7, .mobile_content_3_1_2_circle_1
    {
        width: 3.589743vw;
        height: 3.589743vw;
    }
    
    .mobile_content_3_1_1_circle_1, .mobile_content_3_1_1_circle_2, .mobile_content_3_1_1_circle_4, .mobile_content_3_1_1_circle_5, .mobile_content_3_1_1_circle_6, .mobile_content_3_1_2_circle_1, .mobile_content_3_1_2_circle_3, .mobile_content_3_1_2_circle_4, .mobile_content_3_1_2_circle_5, .mobile_content_3_1_2_circle_6, .mobile_content_3_1_2_circle_7, .mobile_content_3_1_2_circle_8
    {    
        background: #5FD517;
    }
    
    .mobile_content_3_1_1_circle_3
    {
        background: #FF9900;
    }
    
    .mobile_content_3_1_1_circle_7
    {
        background: #FD3259;
    }
    
    .mobile_content_3_1_1_circle_8, .mobile_content_3_1_2_circle_2
    {
        background: #FFFFFF;
    }
    
    .mobile_content_3_1_1_circle_1
    {                    
        margin-left: 11.025641vw;
        margin-top: 1.538461vw;
    }
    
    .mobile_content_3_1_1_circle_2
    {
        margin-left: 23.846154vw;
        margin-top: 4.641026vw;
    }
    
    .mobile_content_3_1_1_circle_3
    {
        margin-left: 36.923077vw;
        margin-top: -6.102564vw;
    }
    
    .mobile_content_3_1_1_circle_4
    {
        margin-left: 42.051282vw;
    }
    
    .mobile_content_3_1_1_circle_5
    {
        margin-left: 55.897435vw;
        margin-top: -6.0897436vw;
    }
    
    .mobile_content_3_1_1_circle_6
    {
        margin-left: 63.846154vw;
        margin-top: -5.102564vw;
    }
    
    .mobile_content_3_1_1_circle_7
    {        
        margin-left: 66.67vw;
        margin-top: 1.564103vw;
    }
    
    .mobile_content_3_1_1_circle_8
    {        
        margin-left: 67.5025642vw;
        margin-top: -3.076923vw;
    }
    
    .mobile_content_3_1_line_1, .mobile_content_3_1_line_2, .mobile_content_3_1_line_3
    {
        border: 0.76923vw dashed #35BE1F;
    }
    
    .mobile_content_3_1_line_1, .mobile_content_3_1_line_3
    {
        width: 9.230769vw;
        transform: rotate(-90deg);
    }
    
    .mobile_content_3_1_line_1
    {            
        margin-left: 78.205128vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_1_line_2
    {        
        width: 66.67vw;
        
        margin-left: 16.153846vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_1_line_3
    {
        margin-left: 11.538462vw;
        margin-top: 3.20514vw;
        
    }
    
    .mobile_content_3_1_arrow
    {
        transform: rotate(135deg); 
        
        width: 3.846153vw;
        height: 3.846153vw;
        
        border-top: 0.76923vw solid #35BE1F;
        border-right: 0.76923vw solid #35BE1F;
        
        margin-left: 14.615385vw;
    }
    
    .mobile_content_3_1_2_circle_1
    {
        margin-left: 31.794872vw;
        margin-top: -5.1282vw;
    }
    
    .mobile_content_3_1_2_circle_2
    {
        margin-left: 33.589744vw;
        margin-top: -1.794872vw;
    }
    
    .mobile_content_3_1_2_circle_3
    {
        margin-left: 37.564103vw;
        margin-top: 3.33vw;
    }
    
    .mobile_content_3_1_2_circle_4
    {
        margin-left: 45.641026vw;
        margin-top: -4.67vw;
    }
    
    .mobile_content_3_1_2_circle_5
    {
        margin-left: 57.820513vw;
        margin-top: -5.384615vw;
    }
    
    .mobile_content_3_1_2_circle_6
    {
        margin-left: 64.615385vw;
        margin-top: 0.25641vw;
    }
    
    .mobile_content_3_1_2_circle_7
    {
        margin-left: 5.717948vw;
        margin-top: -5.717948vw;
    }
    
    .mobile_content_3_1_2_circle_8
    {
        margin-left: 90.4487179vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_2_img_bg
    {
        background: linear-gradient(91.13deg, #82E80D -394.34%, #48C81D 136.79%);       
        
        border-radius: 50%;
        
        width: 6.410256vw;
        height: 6.410256vw;
        
        padding: 5.76923vw;
    
        margin-left: 7.692307vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_2_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3.589743vw;
        text-align: right;
        
        background: linear-gradient(90.23deg, #7AE410 -45.46%, #35BE1F 107.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        margin-top: -15.38462vw;
        margin-left: 30.769231vw;
        margin-right: 3.846153vw;
    }
    
    .mobile_content_3_2_1_circle_1, .mobile_content_3_2_1_circle_2, .mobile_content_3_2_1_circle_3, .mobile_content_3_2_1_circle_4, .mobile_content_3_2_1_circle_5, .mobile_content_3_2_1_circle_6, .mobile_content_3_2_1_circle_7, .mobile_content_3_2_1_circle_8, .mobile_content_3_2_2_circle_1, .mobile_content_3_2_2_circle_2, .mobile_content_3_2_2_circle_3, .mobile_content_3_2_2_circle_4, .mobile_content_3_2_2_circle_5, .mobile_content_3_2_2_circle_6, .mobile_content_3_2_2_circle_7, .mobile_content_3_2_2_circle_8
    {
        border-radius: 50%;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    
    .mobile_content_3_2_1_circle_1, .mobile_content_3_2_2_circle_5
    {
        background: #FD3259;
    }
    
    .mobile_content_3_2_1_circle_2, .mobile_content_3_2_1_circle_3, .mobile_content_3_2_1_circle_4, .mobile_content_3_2_1_circle_7, .mobile_content_3_2_2_circle_1, .mobile_content_3_2_2_circle_2, .mobile_content_3_2_2_circle_3, .mobile_content_3_2_2_circle_4, .mobile_content_3_2_2_circle_6, .mobile_content_3_2_2_circle_7
    {
        background: #4BCA1C;
    }
    
    .mobile_content_3_2_1_circle_5, .mobile_content_3_2_2_circle_8
    {
        background: #FFFFFF;
    }
    
    .mobile_content_3_2_1_circle_6
    {
        background: #FF9900;
    }
    
    .mobile_content_3_2_1_circle_8
    {
        background: #4448D6;
    }
    
    .mobile_content_3_2_1_circle_5, .mobile_content_3_2_2_circle_8
    {
        width: 1.025641vw;
        height: 1.025641vw;
    }
    
    .mobile_content_3_2_1_circle_2, .mobile_content_3_2_1_circle_3, .mobile_content_3_2_1_circle_6, .mobile_content_3_2_1_circle_7, .mobile_content_3_2_1_circle_8, .mobile_content_3_2_2_circle_1, .mobile_content_3_2_2_circle_2, .mobile_content_3_2_2_circle_3, .mobile_content_3_2_2_circle_5, .mobile_content_3_2_2_circle_6
    {
        width: 1.794872vw;
        height: 1.794872vw;
    }
    
    .mobile_content_3_2_1_circle_1, .mobile_content_3_2_1_circle_4, .mobile_content_3_2_2_circle_4, .mobile_content_3_2_2_circle_7
    {
        width: 3.589743vw;
        height: 3.589743vw;
    }
    
    .mobile_content_3_2_1_circle_1
    {
        margin-top: 6.025641vw;
        margin-left: 28.589744vw;
    }
    
    .mobile_content_3_2_1_circle_2
    {
        margin-left: 38.461538vw;
        margin-top: -7.051282vw;
    }
    
    .mobile_content_3_2_1_circle_3
    {
        margin-left: 42.051282vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_2_1_circle_4
    {
        margin-left: 51.538462vw;
        margin-top: -4.487179vw;
    }
    
    .mobile_content_3_2_1_circle_5
    {
        margin-left: 53.33vw;
        margin-top: -2.2435897vw;
    }
    
    .mobile_content_3_2_1_circle_6
    {
        margin-top: -1.794872vw;
        margin-left: 64.871795vw;
    }
    
    .mobile_content_3_2_1_circle_7
    {
        margin-top: 6.153846vw;
        margin-left: 72.564103vw;
    }
    
    .mobile_content_3_2_1_circle_8
    {
        margin-top: -4.102564vw;
        margin-left: 89.487179vw;
    }
    
    .mobile_content_3_2_line_1, .mobile_content_3_2_line_2, .mobile_content_3_2_line_3
    {
        border: 0.76923vw dashed #35BE1F;
    }
    
    .mobile_content_3_2_line_1, .mobile_content_3_2_line_3
    {
        width: 9.230769vw;
        transform: rotate(-90deg);
    }
    
    .mobile_content_3_2_line_1
    {            
        margin-left: 11.538462vw;
    }
    
    .mobile_content_3_2_line_2
    {        
        width: 66.67vw;
        
        margin-left: 16.153846vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_2_line_3
    {
        margin-left: 78.205128vw;
        margin-top: 3.20514vw;
        
    }
    
    .mobile_content_3_2_arrow
    {
        transform: rotate(135deg); 
        
        width: 3.846153vw;
        height: 3.846153vw;
        
        border-top: 0.76923vw solid #35BE1F;
        border-right: 0.76923vw solid #35BE1F;
        
        margin-left: 81.282051vw;
    }
    
    .mobile_content_3_2_2_circle_1
    {
        margin-left: 11.410256vw;
        margin-top: -7.692307vw;
    }
    
    .mobile_content_3_2_2_circle_2
    {
        margin-left: 23,461538vw;
        margin-top: 5.76923vw;
    }
    
    .mobile_content_3_2_2_circle_3
    {
        margin-left: 36.9641026vw;
        margin-top: -4.102564vw;
    }
    
    .mobile_content_3_2_2_circle_4
    {
        margin-left: 41.6948718vw;
        margin-top: 0.384615vw;
    }
    
    .mobile_content_3_2_2_circle_5
    {
        margin-left: 55.9153846vw;
        margin-top: -4.358974vw;
    }
    
    .mobile_content_3_2_2_circle_6
    {
        margin-left: 64.167vw;
        margin-top: -4.102564vw;
    }
    
    .mobile_content_3_2_2_circle_7
    {
        margin-left: 66.5vw;
        margin-top: 1.871795vw;
    }
    
    .mobile_content_3_2_2_circle_8
    {
        margin-left: 67.179487vw;
        margin-top: -0.76923vw;
    }
    
    .mobile_content_3_3_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3.589743vw;

        background: linear-gradient(90.83deg, #82E80D -4.23%, #48C81D 144.19%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        margin-top: 5.1282vw;
        margin-left: 7.692307vw;
        margin-right: 25.641026vw;
    }
    
    .mobile_content_3_3_img_bg
    {
        background: linear-gradient(91.13deg, #82E80D -394.34%, #48C81D 136.79%);       
        
        border-radius: 50%;
        
        width: 6.410256vw;
        height: 6.410256vw;
        
        padding: 5.76923vw;
    
        margin-left: 74.358974vw;
        margin-top: -16.67vw;
    }
    
    .mobile_content_3_3_1_circle_1, .mobile_content_3_3_1_circle_2, .mobile_content_3_3_1_circle_3, .mobile_content_3_3_1_circle_4, .mobile_content_3_3_1_circle_5, .mobile_content_3_3_1_circle_6, .mobile_content_3_3_1_circle_7, .mobile_content_3_3_1_circle_8, .mobile_content_3_3_1_circle_9, .mobile_content_3_3_1_circle_10, .mobile_content_3_3_2_circle_1, .mobile_content_3_3_2_circle_2, .mobile_content_3_3_2_circle_3, .mobile_content_3_3_2_circle_4, .mobile_content_3_3_2_circle_5, .mobile_content_3_3_2_circle_6, .mobile_content_3_3_2_circle_7, .mobile_content_3_3_2_circle_8
    {
        border-radius: 50%;
    }
    
    .mobile_content_3_3_1_circle_3, .mobile_content_3_3_1_circle_4, .mobile_content_3_3_1_circle_6, .mobile_content_3_3_1_circle_7, .mobile_content_3_3_1_circle_8, .mobile_content_3_3_1_circle_9, .mobile_content_3_3_1_circle_10, .mobile_content_3_3_2_circle_1, .mobile_content_3_3_2_circle_4, .mobile_content_3_3_2_circle_5, .mobile_content_3_3_2_circle_7, .mobile_content_3_3_2_circle_8
    {
        background: #4DCB1C;
    }
    
    .mobile_content_3_3_1_circle_2, .mobile_content_3_3_2_circle_2
    {
        background: #FFFFFF;
    }
    
    .mobile_content_3_3_2_circle_3
    {
        background: #FD3259;
    }
    
    .mobile_content_3_3_1_circle_5
    {
        background: #4448D6;
    }
    
    .mobile_content_3_3_1_circle_1, .mobile_content_3_3_2_circle_6
    {
        background: #FF9900;
    }
    
    .mobile_content_3_3_1_circle_2, .mobile_content_3_3_2_circle_2
    {
        width: 1.025641vw;
        height: 1.025641vw;
    }
    
    .mobile_content_3_3_1_circle_3, .mobile_content_3_3_1_circle_4, .mobile_content_3_3_1_circle_5, .mobile_content_3_3_1_circle_7, .mobile_content_3_3_1_circle_8, .mobile_content_3_3_1_circle_9, .mobile_content_3_3_2_circle_3, .mobile_content_3_3_2_circle_4, .mobile_content_3_3_2_circle_6, .mobile_content_3_3_2_circle_7, .mobile_content_3_3_2_circle_8
    {
        width: 1.794872vw;
        height: 1.794872vw;
    }
    
    .mobile_content_3_3_1_circle_1, .mobile_content_3_3_1_circle_6, .mobile_content_3_3_1_circle_10, .mobile_content_3_3_2_circle_1, .mobile_content_3_3_2_circle_5
    {
        width: 3.589743vw;
        height: 3.589743vw;
    }
    
    .mobile_content_3_3_1_circle_1
    {
        margin-left: 8.205128vw;
        margin-top: 2.7589744vw;
    }
    
    .mobile_content_3_3_1_circle_2
    {
        margin-left: 10vw;
        margin-top: -2.051283vw;
    }
    
    .mobile_content_3_3_1_circle_3
    {
        margin-left: 15.641026vw;
        margin-top: 1.410256vw;
    }
    
    .mobile_content_3_3_1_circle_4
    {
        margin-left: 10.769231vw;
        margin-top: 6.102564vw;
    }
    
    .mobile_content_3_3_1_circle_5
    {
        margin-left: 22.076923vw;
        margin-top: -10.897536vw;
    }
    
    .mobile_content_3_3_1_circle_6
    {
        margin-left: 33.076923vw;
        margin-top: -5.1282vw;
    }
    
    .mobile_content_3_3_1_circle_7
    {
        margin-left: 44.615385vw;
        margin-top: 0.4230769vw;
    }
    
    .mobile_content_3_3_1_circle_8
    {
        margin-left: 51.538462vw;
        margin-top: -4vw;
    }
    
    .mobile_content_3_3_1_circle_9
    {
        margin-left: 65.641026vw;
        margin-top: -4.51282vw;
    }
    
    .mobile_content_3_3_1_circle_10
    {
        margin-left: 72.307692vw;
        margin-top: 2.25641vw;
    }
    
    .mobile_content_3_3_2_circle_1
    {
        margin-left: 31.794872vw;
        margin-top: -0.76923vw;
    }
    
    .mobile_content_3_3_2_circle_2
    {
        margin-left: 33.589744vw;
        margin-top: -1.794872vw;
    }
    
    .mobile_content_3_3_2_circle_3
    {
        margin-left: 37.5769231vw;
        margin-top: 3.20514vw;
    }
    
    .mobile_content_3_3_2_circle_4
    {
        margin-left: 45.67vw;
        margin-top: -4.67vw;
    }
    
    .mobile_content_3_3_2_circle_5
    {
        margin-left: 57.871795vw;
        margin-top: -5.384615vw;
    }
    
    .mobile_content_3_3_2_circle_6
    {
        margin-left: 64.6564103vw;
        margin-top: 0.179487vw;
    }
    
    .mobile_content_3_3_2_circle_7
    {
        margin-left: 77.717949vw;
        margin-top: -5.717948vw;
    }
    
    .mobile_content_3_3_2_circle_8
    {
        margin-left: 90.4487179vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_3_line_1, .mobile_content_3_3_line_2, .mobile_content_3_3_line_3
    {
        border: 0.76923vw dashed #35BE1F;
    }
    
    .mobile_content_3_3_line_1, .mobile_content_3_3_line_3
    {
        width: 9.230769vw;
        transform: rotate(-90deg);
    }
    
    .mobile_content_3_3_line_1
    {            
        margin-left: 78.205128vw;
    }
    
    .mobile_content_3_3_line_2
    {        
        width: 66.67vw;
        
        margin-left: 16.153846vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_3_line_3
    {
        margin-left: 11.538462vw;
        margin-top: 3.20514vw;
        
    }
    
    .mobile_content_3_3_arrow
    {
        transform: rotate(135deg); 
        
        width: 3.846153vw;
        height: 3.846153vw;
        
        border-top: 0.76923vw solid #35BE1F;
        border-right: 0.76923vw solid #35BE1F;
        
        margin-left: 14.615385vw;
    }
    
    .mobile_content_3_4_img_bg
    {
        background: linear-gradient(91.13deg, #82E80D -394.34%, #48C81D 136.79%);       
        
        border-radius: 50%;
        
        width: 6.410256vw;
        height: 6.410256vw;
        
        padding: 5.76923vw;
    
        margin-left: 7.692307vw;
        margin-top: 5.1282vw;
    }
    
    .mobile_content_3_4_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-weight: 700;
        font-size: 3.589743vw;
        text-align: right;
        
        background: linear-gradient(90deg, #7EE60F -19.79%, #35BE1F 102.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        margin-top: -15.38462vw;
        margin-left: 30.769231vw;
        margin-right: 3.846153vw;
    }
    
    .mobile_content_3_circle{
        background-image: url(img/mobile_bg_2.png);
        background-position: 60% 355%;
        background-repeat: no-repeat;
        background-size: 330vw 250vw;
        
        min-height: 230.769231vw;
    }
}

@media screen and (max-width:415px)
{
    .mobile_content_3_circle
    {
        background-size: 250vw 250vw;
        background-position: 60% -20vw;
    }
}