@media screen and (max-width:710px)
{
    .mobile_header_2
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 6.153846vw;

        color: #48C81D;
        
        margin-left: 12.307692vw;
        margin-top: 10.25641vw;
        margin-right: 12.307692vw;
    } 

    .mobile_content_2_1_header, .mobile_content_2_2_header, .mobile_content_2_3_header
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 5.1282vw;
    }
    
    .mobile_content_2_1_header
    {
        background: linear-gradient(270deg, #FD3259 1.81%, #FF0031 93.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        padding-top: 28.205vw;
        margin-left: 7.692307vw;
    }
    
    .mobile_content_2_2_header
    {
        text-align: right;

        color: #4448D6;
        
        margin-top: 7.692307vw;
    }
    
    .mobile_content_2_3_header
    {
        color: #FF9900;
    }
    
    .mobile_content_2_1_text, .mobile_content_2_2_text, .mobile_content_2_3_text
    {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 4.102564vw;

        text-align: justify;

        color: #FFFFFF;
    }
    
    .mobile_content_2_2_header, .mobile_content_2_1_text, .mobile_content_2_2_text, .mobile_content_2_3_header, .mobile_content_2_3_text
    {
        margin-left: 7.692307vw;
        margin-right: 7.692307vw;
    }
    
    .mobile_content_2_1_img_photo, .mobile_content_2_2_img_photo, .mobile_content_2_3_img_photo
    {
        height: 55.897435vw;
        margin-left: 7.692307vw;
    }
    
    .mobile_content_2_1_img_photo
    {
        margin-top: 10.25641vw;
    }
    
    .mobile_content_2_1_img_circle_1, .mobile_content_2_1_img_circle_2, .mobile_content_2_1_img_circle_3, .mobile_content_2_1_img_circle_4, .mobile_content_2_1_img_circle_5, .mobile_content_2_1_img_circle_6, .mobile_content_2_1_img_circle_7, .mobile_content_2_1_img_circle_8, .mobile_content_2_2_img_circle_1, .mobile_content_2_2_img_circle_2, .mobile_content_2_2_img_circle_3, .mobile_content_2_2_img_circle_4, .mobile_content_2_2_img_circle_5, .mobile_content_2_3_img_circle_1, .mobile_content_2_3_img_circle_2, .mobile_content_2_3_img_circle_3, .mobile_content_2_3_img_circle_4, .mobile_content_2_3_img_circle_5
    {
        transform: rotate(-180deg);
        
        border-radius: 50%;    
    }
    
    .mobile_content_2_1_img_circle_2, .mobile_content_2_1_img_circle_3, .mobile_content_2_1_img_circle_6, .mobile_content_2_1_img_circle_7, .mobile_content_2_1_img_circle_8, .mobile_content_2_2_img_circle_1, .mobile_content_2_2_img_circle_4, .mobile_content_2_2_img_circle_5, .mobile_content_2_3_img_circle_3, .mobile_content_2_3_img_circle_5
    {
        width: 1.76923vw;
        height: 1.76923vw;
    }
    
    .mobile_content_2_1_img_circle_1, .mobile_content_2_1_img_circle_4, .mobile_content_2_1_img_circle_5, .mobile_content_2_2_img_circle_3, .mobile_content_2_3_img_circle_1, .mobile_content_2_3_img_circle_2, .mobile_content_2_3_img_circle_4
    {
        width: 3.525641vw;
        height: 3.525641vw;
    }
    
    .mobile_content_2_2_img_circle_2
    {
        width: 7.051282vw;
        height: 7.051282vw;
    }
    
    .mobile_content_2_1_img_circle_1, .mobile_content_2_1_img_circle_7, .mobile_content_2_1_img_circle_8, .mobile_content_2_2_img_circle_3, .mobile_content_2_2_img_circle_4, .mobile_content_2_3_img_circle_1, .mobile_content_2_3_img_circle_3
    {
        background: #4448D6;
    }
    
    .mobile_content_2_1_img_circle_2, .mobile_content_2_1_img_circle_4, .mobile_content_2_1_img_circle_6, .mobile_content_2_2_img_circle_2, .mobile_content_2_3_img_circle_4, .mobile_content_2_3_img_circle_5
    {
        background: #FD3259;
    }
    
    .mobile_content_2_1_img_circle_3, .mobile_content_2_1_img_circle_5, .mobile_content_2_2_img_circle_1, .mobile_content_2_2_img_circle_5, .mobile_content_2_3_img_circle_2
    {
        background: #FF9900;
    }
    
    .mobile_content_2_1_img_circle_1
    {     
        margin-left: 22.051282vw;
        margin-top: -56.410256vw;
    }
    
    .mobile_content_2_1_img_circle_2
    {     
        margin-left: 23.076923vw;
        margin-top: 4.6794872vw;
    }
    
    .mobile_content_2_1_img_circle_3
    {
        margin-left: 12.307692vw;
        margin-top: 2.846154vw;
    }
    
    .mobile_content_2_1_img_circle_4
    {
        margin-left: 9.4871795vw;
        margin-top: 10.794872vw;
    }
    
   .mobile_content_2_1_img_circle_5
    {
       margin-left: 74.358974vw;
       margin-top: -29.9615385vw;
    }
    
    .mobile_content_2_1_img_circle_6
    {
        margin-left: 85.641026vw;
        margin-top: 0.0641026vw;
    }
    
    .mobile_content_2_1_img_circle_7
    {
        margin-left: 88.9743359vw;
        margin-top: 5.923077vw;
    }
    
    .mobile_content_2_1_img_circle_8
    {
        margin-left: 64.615385vw;
        margin-top: 42.076923vw;
    }
    
    .mobile_content_2_1_text
    {
        margin-top: 7.71794vw;
    }
    
    .mobile_content_2_1_text_1
    {
        margin-bottom: 4.1871795vw;
    }
    
    .mobile_content_2_2_img_photo, .mobile_content_2_3_img_photo
    {       
        margin-top: 5.1282vw;
    }
    
    .mobile_content_2_2_img_circle_1
    {
        margin-left: 16.923077vw;
        margin-top: -51.794872vw;
    }
    
    .mobile_content_2_2_img_circle_2
    {
        margin-top: 2.076923vw;
        margin-left: 7.692307vw;
    }
    
    .mobile_content_2_2_img_circle_3
    {
        margin-top: 5.25641vw;
        margin-left: 10.25641vw;
    }
    
    .mobile_content_2_2_img_circle_4
    {
        margin-top: -22.2435897vw;
        margin-left: 72.564103vw;
    }
    
    .mobile_content_2_2_img_circle_5
    {
        margin-top: 41.820513vw;
        margin-left: 88.205128vw;
    }
    
    .mobile_content_2_2_text
    {
        margin-top: 15.67vw;
    }
    
    .mobile_content_2_3_header
    {
        margin-top: 7.692307vw;
    }
    
    .mobile_content_2_3_img_circle_1
    {
        margin-top: -55.897435vw;
        margin-left: 14.871795vw;
    }
    
    .mobile_content_2_3_img_circle_2
    {
        margin-left: 73.33vw;
        margin-top: 2.3717948vw;
    }
    
    .mobile_content_2_3_img_circle_3
    {
        margin-top: -0.76923vw;
        margin-left: 81.5385vw;
    }
    
    .mobile_content_2_3_img_circle_4
    {
        margin-top: 6.6923vw;
        margin-left: 84.6155vw;
    }
    
    .mobile_content_2_3_img_circle_5
    {
        margin-top: 33.3975vw;
        margin-left: 50vw;
    }
    
    .mobile_content_2_3_text
    {
        margin-top: 7.71794vw;
        padding-bottom: 28.205vw;
    }
    
    .mobile_content_2
    {
        background-image: url(img/mobile_bg_1.png);
        background-repeat: no-repeat;
        background-size: 361.025641vw 361.025641vw;
        background-position: 40% 50%;
    }
}