.header{
    padding-top: 3%;    
}

.header_content {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1.001vw;
    position: relative;
    height: 4.762vw;
    background: white;
    
    box-shadow: 8.66007px 3.60836px 72.1672px rgba(0, 0, 0, 0.18);
    border-radius: 0.992065vw;
}

.text_logo, .FAQ_header, .main_header, .results_header{
    position: absolute;
    text-decoration: none;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.text_logo
{
    margin-left: 7.8704vw;
    margin-top: 1.65344vw;
    margin-bottom: 1.65344vw;
    
    font-weight: 500;
    font-size: 1.32275vw;
    line-height: 1.98413vw;

    color: #1B1C37;
}

.FAQ_header, .main_header
{   
    font-weight: 600;
    font-size: 1.14551vw;
    line-height: 1.719575vw;

    color: #000000; 
}

.FAQ_header, .main_header
{
    margin-top: 1.521165vw;
    margin-bottom: 1.521165vw;
}

.FAQ_header
{
    margin-left: 31.4815vw;
}

.main_header
{
    margin-left: 40.07935vw;
}

.results_header
{
    font-weight: 600;
    font-size: 1.14551vw;
    line-height: 1.719575vw;
    text-align: right;

    color: #FF9900;
    
    margin-top: 1.521165vw;
    margin-bottom: 1.521165vw;
    margin-left: 75.331vw;
}

.img_logo_1, .img_logo_2, .img_logo_3{
    background: linear-gradient(90deg, #35BE1F 0%, #6ED90B 100%);
    
    border-radius: 50%;
        
    position: absolute;
}

.img_logo_1{
    left: 5.51%;
    right: 93.5%;
    top: 32.92%;
    bottom: 49.15%;
}

.img_logo_2{
    left: 4.85%;
    right: 94.54%;
    top: 51.72%;
    bottom: 37.18%;
}

.img_logo_3{
    left: 5.84%;
    right: 93.65%;
    top: 57.7%;
    bottom: 32.93%;
}

.results_header_top, .results_header_bottom{
    border: 0.198413vw solid #FF784C;
    
    display: block;
    width: 6.614vw;
    margin-left: 75.331vw;
}

.results_header_bottom{
    margin-top: 4.3655vw;
}

.footer{
    width: 100%;
    height: 7.2755vw;
    
    background: #1B1C37;
}

.footer_text_1, .footer_text_2{
    margin-left: 6.61376vw;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.992065vw;
    
    color: #FFFFFF;
}

.footer_text_1{
    padding-top: 2.1164vw;
}

.footer_text_2{
    padding-bottom: 2.1164vw;
}

.content
{
    margin-left: 9.3253968vw;
    margin-right: 9.3253968vw;
}

.content_header
{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.322751vw;
    line-height: 2.116402vw;
    text-align: center;

    color: #000000;
    background: #FFFFFF;
    
    border-radius: 0.9920635vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    margin-top: 3.505291vw;
    margin-right: 61.6164021vw;
    margin-bottom: 1.984126vw;
    
    padding-top: 0.43vw;
    padding-bottom: 0.396825vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.content_1_header, .content_2_header, .content_3_header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    margin-bottom: 1.984126vw;
}

.content_1_header_text, .content_2_header_text
{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.322751vw;
    line-height: 1.587302vw;

    color: rgba(0, 0, 0, 0.5);
}

.content_1_header_line, .content_2_header_line, .content_3_header_line
{
    background: #727580;
    border-radius: 3.306878vw;
    
    height: 0.2566137vw;
}