@font-face
{
    font-family: PoppinsBold;
    src: url('../static/styles/Poppins/Poppins-Bold.ttf');
}

@font-face
{
    font-family: PoppinsLight;
    src: url('../static/styles/Poppins/Poppins-Light.ttf');
}

@font-face
{
    font-family: PoppinsMedium;
    src: url('../static/styles/Poppins/Poppins-Medium.ttf');
}

@font-face
{
    font-family: PoppinsRegular;
    src: url('../static/styles/Poppins/Poppins-Regular.ttf');
}

@font-face
{
    font-family: PoppinsSemiBold;
    src: url('../static/styles/Poppins/Poppins-SemiBold.ttf');
}

@font-face
{
    font-family: PTSansBold;
    src: url('../static/styles/PT_Sans/PTSans-Bold.ttf');
}

@font-face
{
    font-family: PTSansRegular;
    src: url('../static/styles/PT_Sans/PTSans-Regular.ttf');
}

@font-face
{
    font-family: SofiaSansBold;
    src: url('../static/styles/Sofia_Sans/SofiaSans-Bold.ttf');
}

@font-face
{
    font-family: SofiaSansSemiBold;
    src: url('../static/styles/Sofia_Sans/SofiaSans-SemiBold.ttf');
}

@font-face
{
    font-family: RobotoMedium;
    src: url('../static/styles/Roboto/Roboto-Medium.ttf');
}

@font-face
{
    font-family: RobotoRegular;
    src: url('../static/styles/Roboto/Roboto-Regular.ttf');
}

@font-face
{
    font-family: RobotoSlabRegular;
    src: url('../static/styles/Roboto_Slab/RobotoSlab-Regular.ttf');
}

@font-face
{
    font-family: SenBold;
    src: url('../static/styles/Sen/Sen-Bold.ttf');
}